@import '../../../styles'

nav
    display: flex
    width: 100%
    height: $height-size-nav
    color: $text-color-nav-main
    align-items: center
    justify-content: space-between
    border-radius: 0 0 50px 50px

.logo
    margin-left: 30px
    font-size: $text-size-nav + .5
    font-family: Concert
    code    
        font-size: $text-size-nav
        color: darkgreen        

ul li a
    color: $text-color-nav
    font-family: Concert
    text-decoration: none

@media screen and (min-width: 600px)
    ul
        list-style: none    
        margin-right: 30px

        li
            padding: 0 20px
            display: inline-block

            a
                letter-spacing: 0.1em
                font-size: $text-size-nav
                position: relative
                &:before,
                &:after
                    position: absolute
                    -webkit-transition: all 0.35s ease
                    transition: all 0.35s ease    
                &:before
                    content: ""
                    display: block
                    background-color: #2980b9    
                    height: 3px
                    width: 0%
                    bottom: -10px

                &::after
                    content: attr(data-hover)
                    position: absolute
                    white-space: nowrap
                    color: $text-color-nav-main
                    overflow: hidden
                    max-width: 0%
                    left: 0
                    top: 0
                &:hover:before,
                &:hover:after
                    width: 100%
                    max-width: 100%

@media screen and (max-width: 600px)
    label
        .menu
            position: absolute
            right: 0
            top: 0
            z-index: 100
            width: 100px
            height: 100px
            background: $background-color-nav-sm-burger
            border-radius: 0 0 0 100%
            -webkit-transition: .5s ease-in-out
            transition: .5s ease-in-out
            box-shadow: 0 0 0 0 $background-color-nav-sm-burger, 0 0 0 0 $background-color-nav-sm-burger
            cursor: pointer        

        .hamburger
            position: absolute
            top: 35px
            right: 20px
            width: 30px
            height: 2px
            background: #69D2e7
            display: block
            -webkit-transform-origin: center
            transform-origin: center
            -webkit-transition: .5s ease-in-out
            transition: .5s ease-in-out

        .hamburger:after,
        .hamburger:before
            -webkit-transition: .5s ease-in-out
            transition: .5s ease-in-out
            content: ""
            position: absolute
            display: block
            width: 100%
            height: 100%
            background: #69d2e7

        .hamburger:before
            top: -10px

        .hamburger:after
            bottom: -10px

        input
            display: none

            &:checked + .menu
                width: 100vw
                height: 100vh
                border-radius: 0

            &:checked + .menu .hamburger
                -webkit-transform: rotate(45deg)
                transform: rotate(45deg)

            &:checked + .menu .hamburger:after
                -webkit-transform: rotate(90deg)
                transform: rotate(90deg)
                bottom: 0

            &:checked + .menu .hamburger:before
                -webkit-transform: rotate(90deg)
                transform: rotate(90deg)
                top: 0
            &:checked + .menu + ul
                opacity: 1
                animation: ulvisible 1s steps(20, end)
                -webkit-animation: ulvisible 1s steps(20, end)
        li        
            list-style: none
            padding: .5em
        
        a
            margin-bottom: 1em
            display: block
            color: $text-color-nav-sm-main
            font-size: $text-size-sm-nav
            &:before
                content: '<'
            &:after
                content: '/>'

    ul
        z-index: 200
        position: absolute
        top: 50%
        left: 50%
        -webkit-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        opacity: 0
        
    @keyframes ulvisible
        from        
            opacity: 0
        to
            opacity: 1
        50%
            opacity: 0