<nav>
    <div class="logo">        
            <code>{{textStart}}</code>{{text}}<code>{{textEnd}}</code>
    </div>
    <ng-container *ngIf="mobile; else menu">
        <label>
            <input type="checkbox">
            <span class="menu"><span class="hamburger"></span></span>
            <ng-container *ngTemplateOutlet="menu"></ng-container>
        </label>
    </ng-container>
    
</nav>

<ng-template #menu>
    <ul>
        <li><a href="" data-hover="Inicio">Inicio</a></li>
        <li><a href="" data-hover="Portafolio">Portafolio</a></li>
        <li><a href="" data-hover="Contactame">Contactame</a></li>
    </ul>
</ng-template>
