@import '../../../styles'

nav
    display: flex
    width: 100%
    height: 8vh
    color: $text-color-nav-main
    align-items: center
    justify-content: space-between
    // background-color: rgba(255, 255, 255, 0.1) 
    border-radius: 0 0 50px 50px

.logo
    margin-left: 30px
    font-size: $text-size-nav
    font-family: Concert

ul
    list-style: none    
    margin-right: 30px

ul li
    padding: 0 20px
    display: inline-block

ul li a
    color: $text-color-nav
    font-family: Concert
    letter-spacing: 0.1em
    font-size: $text-size-nav
    text-decoration: none
    position: relative

ul li a:before,
ul li a:after
    position: absolute
    -webkit-transition: all 0.35s ease
    transition: all 0.35s ease

ul li a:before
    content: ""
    display: block
    background-color: #2980b9
    height: 3px
    width: 0%
    bottom: 0

ul li a::after
    content: attr(data-hover)
    position: absolute
    white-space: nowrap
    color: $text-color-nav-main
    overflow: hidden
    max-width: 0%
    left: 0
    top: 0

ul li a:hover:before,
ul li a:hover:after
    width: 100%
    max-width: 100%

@media screen and (max-width: 600px)
    label .menu
        position: absolute
        right: -100px
        top: -100px
        z-index: 100
        width: 200px
        height: 200px
        background: #FFF
        border-radius: 50% 50% 50% 50%
        -webkit-transition: .5s ease-in-out
        transition: .5s ease-in-out
        box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF
        cursor: pointer

    label .hamburger
        position: absolute
        top: 135px
        left: 50px
        width: 30px
        height: 2px
        background: #69D2e7
        display: block
        -webkit-transform-origin: center
        transform-origin: center
        -webkit-transition: .5s ease-in-out
        transition: .5s ease-in-out

    label .hamburger:after, label .hamburger:before
        -webkit-transition: .5s ease-in-out
        transition: .5s ease-in-out
        content: ""
        position: absolute
        display: block
        width: 100%
        height: 100%
        background: #69d2e7

    label .hamburger:before
        top: -10px

    label .hamburger:after
        bottom: -10px

    label input
        display: none

    label input:checked + .menu
        box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF
        border-radius: 0

    label input:checked + .menu .hamburger
        -webkit-transform: rotate(45deg)
        transform: rotate(45deg)

    label input:checked + .menu .hamburger:after
        -webkit-transform: rotate(90deg)
        transform: rotate(90deg)
        bottom: 0

    label input:checked + .menu .hamburger:before
        -webkit-transform: rotate(90deg)
        transform: rotate(90deg)
        top: 0

    label input:checked + .menu + ul
        opacity: 1

    label ul
        z-index: 200
        position: absolute
        top: 50%
        left: 50%
        -webkit-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
        opacity: 0
        -webkit-transition: .25s 0s ease-in-out
        transition: .25s 0s ease-in-ou

    label a
        margin-bottom: 1em
        display: block
        color: #f38630
        text-decoration: none