// screen size
$screen-large: 1200px
$screen-medium: 100%
$screen-small: 250px

// text color
$text-color-nav: #dbdbdb
$text-color-nav-main: #ffffff
$text-color-nav-sm-main: #ffffff
$text-color-comment: #65C691
$text-color-declaration: #569CD6
$text-color-nameVariable: #8CDCFE
$text-color-variable: #CE9178
$text-color-bracket: #FFD710

// menu
$height-size-nav: 8vh
$background-color-nav-sm-burger: #000

// text size
$text-size-nav: 1.4em
$text-size-sm-nav: 2em

@font-face
    font-family: Concert
    src: url('./assets/fonts/ConcertOne-Regular.ttf')
@font-face
    font-family: Roboto
    src: url('./assets/fonts/Roboto-Mono.woff2')

*
    margin: 0
    padding: 0

body
    background: black

body:before
    content: ''
    background-image: url("./assets/image/background-sm.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.1
    position: fixed
    left: 0
    top: 0
    width: 100vw
    height: 100vh
    z-index: -999

.comment
    color: $text-color-comment
.declaration
    color: $text-color-declaration
.nameVariable
    color: $text-color-nameVariable
.variable
    color: $text-color-variable
.bracket
    color: $text-color-bracket