// screen size
$screen-large: 1200px
$screen-medium: 100%
$screen-small: 250px

// text color
$text-color-nav: #dbdbdb
$text-color-nav-main: #ffffff

// text size
$text-size-nav: 1.4em

@font-face
    font-family: Concert
    src: url('./assets/fonts/ConcertOne-Regular.ttf')

*
    margin: 0
    padding: 0

body
    background: black
    background-image: url("./assets/image/background-code.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover